:root {
    --mode: 'mobile';
}

body {
    margin: 0;
    background-color: #181818;
}

div#whatever {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

#sidebar {
    display: inline-block;
}

#fixed-sidebar {
    padding: 2vh;
}

#sidebar[open="true"] #fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: inherit !important;
    background-color: black;
}

#sidebar[open="false"] #fixed-sidebar {
    height: auto;
}

#sidebar[open="true"] {
    color: white;
    box-sizing: border-box;

    button {
        width: 20%;
    }

    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
}

#sidebar[open="false"] {
    padding: 0;
    opacity: 100%;

    nav {
        display: none;
    }
}

#sidebar div {
    width: 100%;
    height: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height: 7%;
    min-width: 31.75px;
    min-height: 24.5px;
    padding: 0;
    filter: invert(1);
    float: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin-right: auto;

    a {
        color: white;
        text-decoration: none;
    }

    & :hover {
        color: grey;
    }
}

article {
    display: inline-block;
    width: calc(60%); /*TODO*/
    height: auto;
    color: white;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 515px) {
    :root {
        --mode: mobile;
    }

    #sidebar[open="true"] {
        width: 100% !important;
        font-size: 2em;

        button {
            width: 5%;
        }

        nav {
            width: 26%;
        }
    }

    #sidebar[open="false"] {
        width: 5%;

        button {
            width: 100%;
        }

        nav {
            display: none;
        }
    }

    #sidebar[open="true"] + article {
        display: none !important;
    }

    #sidebar[open="false"] + article {
        line-height: 1.5;
        display: inline-block !important;
        width: calc(95%);
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 516px) and (max-width: 680px) {
    :root {
        --mode: tablet;
    }

    #sidebar[open="true"] {
        width: 30%;
        font-size: 1.5em;

        nav {
            width: 55%;
        }
    }

    #sidebar[open="false"] {
        width: 5%;

        button {
            width: 100%;
        }
    }

    article {
        display: unset  !important;
        width: calc(70%); /*todo*/
        line-height: 1.4;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 681px) {
    :root {
        --mode: desktop;
    }

    #sidebar[open="true"] {
        width: 20%;
        font-size: 24px;

        nav {
            width: 35%;
        }
    }

    #sidebar[open="false"] {
        width: 5%;

        button {
            width: 100%;
        }

        nav {
            display: none;
        }
    }

    article {
        display: unset !important;
        width: calc(70%); /*todo*/
        line-height: 1.5;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 22px;
    }
}
