:root {
    --mode: red;
}

html {
    min-height: 100%;
    /* height: 100vmax; */
}

body {
    margin: 0px;
    height: fit-content;
    /* background-color: #181818; */
    background-color: var(--mode);
}

div#whatever {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

#sidebar {
    display: inline-block;
    height: calc(100%);
}

#sidebar[open="true"] {
    /* height: 100%; */
    color: white;
    background-color: black;
    padding: 2vh;
    /* float: left; */
    box-sizing: border-box;

    button {
        width: 20%;
        /* z-index: unset; */
    }
}

#sidebar[open="false"] {
    padding: 0;
    /*height: auto;*/
    opacity: 100%;

    button {
        /*z-index: 99;*/
    }
}

#sidebar div {
    width: 100%;
    height: auto;
    /* padding-left: auto;
    padding-right: auto; */
    /* height: 100%; */
    /* text-align: center; */
}

button {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height: 7%;
    min-height: 24.5px;
    padding: 0;
    filter: invert(1);
    float: none;
    /* background: none; */
}

nav {
    /* width: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

ul {
    /* width: auto; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin-right: auto;

    a {
        color: white;
        text-decoration: none;
    }

    & :hover {
        color: grey;
    }
}

article {
    display: inline-block;
    width: calc(60%); /*TODO*/
    /*height: 100%;*/
    height: auto;
    color: white;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* float:inline-start; */
    /* overflow: auto; */
}

@media screen and (max-width: 515px) {
    :root {
        --mode: red;
    }

    #sidebar[open="true"] {
        /* width: 100%; */
        width: 5%;
        font-size: 2em;
        /* padding: 0;
        height: auto; */

        button {
            width: initial; /*todo*/
            /* width: 100%;
            z-index: 99; */
            /* height: 0;
            padding-bottom: 100%; */
        }

        nav {
            width: 26%;
        }
    }

    #sidebar[open="false"] {
        button {
            width: 100%;
        }

        nav {
            display: none;
        }
    }

    article {
        line-height: 1.5;
        display: inline-block;
        width: calc(95%);
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 516px) and (max-width: 680px) {
    :root {
        --mode: orange;
    }

    #sidebar[open="true"] {
        width: 30%;
        font-size: 1.5em;

        nav {
            width: 55%;
        }
    }

    #sidebar[open="false"] {
        width: 5%;

        button {
            width: 100%;
        }
    }

    article {
        width: calc(70%); /*todo*/
        line-height: 1.4;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 681px) {
    :root {
        --mode: green;
    }

    #sidebar[open="true"] {
        width: 20%;
        font-size: 24px;

        nav {
            width: 35%;
        }
    }

    #sidebar[open="false"] {
        width: 5%;

        button {
            width: 100%;
        }

        nav {
            display: none;
        }
    }

    article {
        width: calc(70%); /*todo*/
        line-height: 1.5;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 22px;
    }
}
